body {
  display: flex;
  justify-content: center;
  padding: 1em;
}

div {
    display: flex;
    flex-direction: column;
}

.breadcrumb {
    margin: 0.5em;
    padding-bottom: 1.0em;
    border-bottom: 1px solid darkorange;
    flex-direction: row;
}

.breadcrumb ion-icon {
    font-size: 1.5em;
}

.breadcrumb > span {
    font-size: 1.5em;
    padding-left: 0.5em;
}

/* PageViews */
.serviceView {
    margin: 0.2em;
    min-width: 80%;
    min-height: 90vh;
}

.resultsView {
    margin: 0.2em;
    min-width: 80%;
    min-height: 90vh;
}

/* serviceView components */

.serviceEntry {
    padding: 0.5em;
    padding-left: 1em;
    max-width: 15vh;
}

/* resultsView components */

.resultEntries {
    flex-direction: row;
    margin-left: 1em;
    margin-top: 5px;
}

.resultEntry {
    margin: 0px;
    margin-left: 1em;
}

.resultMetrics {
    padding: 5px;
}

.resultMetrics p {
    margin: 5px;
}

.flakeEntries {
    margin-left: 1em;
}

.flakeEntries p {
    margin: 5px;
}

.resultDayColumnDate {
    margin-left: 1em;
    margin-bottom: 0.75em;
    transform: rotate(-40deg);
}

.result {
    font-size: 2em;
}

.resultPassed {
    color: blue;
}

.resultFailed {
    color: crimson;
}

/* testsView components */

.testDetail {
    margin: 0.5em;
}

.testDetailName {
    flex-direction: row;
}

testDetailStatuses {
    flex-direction: column;
}