body {
  display: flex;
  justify-content: center;
  padding: 1em;
}

/* PageViews */
.serviceView {
    background-color: lightgrey;
    margin: 0.2em;
    min-width: 80%;
    min-height: 90vh;
}

.resultsView {
    background-color: lightgrey;
    margin: 0.2em;
    min-width: 80%;
    min-height: 90vh;
}

/* serviceView components */

.serviceEntry {
    padding: 0.5em;
    padding-left: 1em;
}

/* resultsView components */

.resultEntries {
    display: flex;
}

.resultEntry {
    margin: 0px;
    margin-left: 1em;
}

.resultDayColumnDate {
    margin-left: 9px;
    transform: rotate(-40deg);
}

.result {
    font-size: 2em;
}

.resultPassed {
    color: blue;
}

.resultFailed {
    color: crimson;
}