body {
  display: flex;
  justify-content: center;
  padding: 1em;
}

/* PageViews */
.serviceView {
    background-color: lightgrey;
    margin: 0.2em;
    width: 80%;
}

.resultsView {
    background-color: lightgrey;
    margin: 0.2em;
    width: 80%;
}

/* serviceView components */

.serviceEntry {
    background-color: cadetblue;
}

/* resultsView components */

.resultEntry {

}

.resultEntries {
    
}
